/* line 1, screen.scss */
html, body {
  min-height: 100%;
  position: relative;
}

/* line 5, screen.scss */
h3 {
  background: #FFF;
  border-radius: 2px;
}

/* line 9, screen.scss */
.navbar-brand.guides-current-element {
  background: #dfdfdf;
}
